/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color:#0C0C0C;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
header{
    width: 100%;
}

/* colors */
.primary{
    color:#9BF00B
}
.dark{
    color:#0C0C0C
}
.gray{
    color:#777777
}
.gray-light{
    color:#C0C0C0
}
.light{
    color:#FFFFFF
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    background-color: #0C0C0C;
    height: 80px;
    align-items: center;
    width: 100%;
}
.navlinks{
display: flex;
flex-direction: row;
text-decoration: none;
color: #FFFFFF;
justify-content: space-between;
width: 350px;
align-items: center;
} 
.navlinks li{
    list-style: none;
   
}
.navlinks li a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
}
.btn-primary{
    background-color: #9BF00B;
    color: #0C0C0C;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    width:224px;
    height: 60px;

}

.logo-xbox{
  
width: 144px;
height: 44px;


}
.presentation{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
    margin-top: 294px;
    height: 800px;
    width: 100%;
    
}
.title{
    font-size: 48px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.subtitle{
    font-size: 24px;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
    color: #9BF00B;
    margin-bottom: 20px;
    text-transform: uppercase;
}

 .green-light{
    position: absolute;
    width: 1209px;
    height: 482px;
    left: 328px;
    top: 388px;
    z-index: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(134, 207, 9, 0.258984) 20.31%, rgba(155, 240, 11, 0.3) 23.53%, rgba(0, 219, 0, 0.3) 35.42%, rgba(0, 123, 0, 0.3) 40.63%, rgba(0, 132, 0, 0.3) 49.51%);
    opacity: 0.7;
    border: 1px solid #000000;
    filter: blur(250px);
} 
.xbox{
    z-index: 2;
   
    width: 80%;


}

.features{
    display: flex;
    flex-direction: row;
    margin-top: 400px;
    width: 90vw;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
}
.description{
    display: flex;
    flex-direction: column;
  
}
.description h2{
    font-size:64px;
}
.description p{
    font-size: 18px;
    font-weight: 300;
    color: #FFFFFF;
    margin-top: 20px;
    line-height: 1.5;
}

.box-game{
    height: 800px;
}
.games{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:300px;
    width: 100%;
}
.box-games{
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 100%;
    justify-content: flex-end;
    align-items: center;

}
.box-games-logo{
z-index: 2;
width: 300px;
height: 65,6px;
padding-bottom: 65px;


}
/* games background */
.farcry6{
    background-image: url('../img/farcry6.png');
    background-size: cover;
    background-position: center;

   
}
.forza-horizon{
    background-image:url('../img/forza-horizon.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.fifa{
    background-image: url('../img/fifa.png');
    background-size: cover;
    background-position: center;


}
.minecraft{
    background-image: url('../img/minecraft.png');
    background-size: cover;
    background-position: center;

}

/* faq */
#faq{
    width: 100% ;
    color: #777777;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.accordion{
    width: 100%;
    
}
details>summary {
 
    list-style: none;
  }
  summary::-webkit-details-marker {
    display: none
  }
  
  summary::after {
    content:  url('../img/close.png');
    right: 100px;

  }
  details[open] summary:after {
    content:  url('../img/open.png');
    right: 100px;
  }
  details{
    
  }
  details[open]{
      
      /* background-color: #9BF00B; */
  }
/* footer    */
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px 100px;
    color: #FFFFFF;
}
.footer p{
color:#777777;
font-size: 18px;
font-family: 'Inter', sans-serif;
text-transform: uppercase;
line-height: 1.5;

}
.copy{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 550px;
}
